[Unit]
Description=metserver
After=syslog.target

[Service]
# For running outside of a venv, python virtual environment:
# ExecStart=/usr/bin/python3 /home/observer/metserver/metserver.py -t 0

# For running within a venv:
ExecStart=/home/observer/metserver/venv/bin/python3 /home/observer/metserver/metserver.py -t 0
Restart=always
RestartSec=120
WorkingDirectory=/home/observer/metserver/
User=observer
SyslogIdentifier=metserver

[Install]
WantedBy=multi-user.target
